.home_txt {
  font-family: 'Analogue';
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #485a3f;
}

.txt_1 {
  display: block;
  margin: 0px auto;
  width: 60%;
  z-index: 1;
  margin-bottom: -414px;
  position: relative;
  z-index: 1;
}
.txt_1::after {
  content: "";
  display: block;
  margin: 0px auto;
  width: 2px;
  z-index: 1;
  position: relative;
  background-color: #485a3f;
  height: 400px;
}
.txt_2 {
  display: block;
  margin: 0px auto;
  width: 60%;
  z-index: 1;
  margin-top: 20px;
}

.sign_out{
  background-color: transparent;
  border: 2px solid;
  border-radius: 3px;
  padding: 8px 14px;
  border: 1px solid #112b18;
  color: #112b18;
  cursor: pointer;
  font-size: 14px;
}
.sign_out:hover{
  background-color: #112b18;
  color: #fff;
}